input {
    margin-bottom: 10px;
}

input, input::-webkit-input-placeholder {
    font-size: 70%;
}

option {
    font-size: 70%;
}

.wbdv-title {
    display: inline-block;
}

.wbdv-owner {
    display: inline-block;
}

.wbdv-course {
    padding-bottom: 10px;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.table {
    font-size: 80%;
}

optgroup {
    font-size: 90%;
}